.images {
  background-image: url("https://image.freepik.com/free-vector/404-error-lost-space-concept-illustration_114360-7871.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}
